* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 20px 0;
    background-color: #701920;
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav span {
    color: #EFD4A5;
}

nav a:hover {
    color: #EFD4A5;
}

nav .logo {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #EFD4A5;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #701920;

    color: #FFF;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #580007;
}

.head{
    position: relative;
    padding: 100px;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head h1{
    color: #EFD4A5;
    position: relative;
    top: 175px;
}

@media (max-width: 730px){
    .head h1{
        font-size: 28px;
        top: 200px;
        margin-left: -100px;
        margin-right: -80px;
    }
}

.head h1 span{
    font-size: 40px;
    position: relative;
}

.head h1 span::before{
    content: '';
    position: absolute;
    background-color: #EFD4A5;
    height: 2px;
    width: 100%;
    bottom: 0;
    margin-top: 100px;
}

.t1{
    text-align: center;
    font-size: 60px;
    color: #701920;
    background: linear-gradient(45deg, #701920, #EFD4A5);
    padding-top: 10px;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    height: 500px;
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    background: linear-gradient(100deg,#701920,#EFD4A5);
}

.projects .card{
    width: 100%;
    height: 300px;
    text-align: center;
}

.projects .card h3{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

.projects .card img{
    width: 100%;
    border-radius: 20px;
}

@media (max-width: 1500px){ 
    .center {
        height: 450px;
    }
}
@media (max-width: 1000px){ 
    .center {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        height: 400px;
    }
    .projects .card img {
        width: 70%;
    }
}
@media (min-width: 1000px){ 
    .projects .card img {
        width: 55%;
    }
    .center {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        height: 300px;
    }
}

@media (max-width: 780px){ 
    .projects .card img{ 
        width: 60%;
    }
}

@media (max-width: 958px){ 
    .center {
        height: 650px;
    }
}

@media (max-width: 638px){ 
    .center {
        height: 1000px;
    }
}

@media (max-width: 400px){ 
    .center {
        grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    }
}

.t2 {
    text-align: center;
    font-size: 60px;
    color: #EFD4A5;
    background-color: #701920;
    padding-top: 100px;
    padding-bottom: 4px;
}

.Contact {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #701920;
}

.Contact .email a {
    display: block;
    font-size: 40px;
    font-weight: 800;
    color: #EFD4A5;
    text-decoration: none;
}

.Contact .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 24px;
    color: #EFD4A5;
}

.Contact .social a {
    margin-right: 5px;
}

.Contact .social i {
    margin-right: 10px;
    color: #EFD4A5;
    font-size: 28px;
}

.footer {
    padding-bottom: 20px;
    background-color: #EFD4A5;
    color: #fff;
    padding: 30px 10px;
    text-align: center;
    font-size: 26px;
}

.footer span {
    color: #701920;
    font-weight: 700;
}

@media (max-width:1000px){
    .Contact .email a{
        font-size: 28px;
    }

    .Contact .social p {
        display: none;
    }
}
